@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root{
    --primary-color: #F2E205;
    --secundary-color: #F2CB05;
    --aditional-color-0: #D9A404;
    --aditional-color-1: #BF7E04;
    --aditional-color-2: #3f3f3f;
    --neutral-color: rgb(232, 231, 220);
    --white: white;
    --black: black;
}
html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: var(--white);
    color: var(--aditional-color-2);
    font-family: italic;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--aditional-color-2);
}
a:hover{
    color: var(--primary-color);
}
.navbar{
    /*background-color: var(--secundary-color);*/
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.navbar-list{
    display: flex;
    gap: 30px;
}
.navbar-list a{
    font-size: 20px;
    color: var(--aditional-color-2);
    padding: 1rem 1rem;
}
.navbar-list a:hover{
    color: var(--primary-color);
}
.logo{
    width: 130px;
    margin: 5px;
}
.descripcion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    color: var(--aditional-color-2);
    font-size: 30px;
    padding: 50px;
    
}
.pan-40{
    padding: 0px 40px 0 0;
}
.pan-20{
    padding: 10px 5px 10px 5px;
    font-size: 27px;
    line-height: 1.4;
}
.img-rem{
    width: 300px;
    padding: 0px 0px 0px 100px;
}
.descripcion h2{
    font-size: 45px;
    line-height: 1;
    font-weight: large;
}
.servi-conter{
    background-color: var(--secundary-color);
    padding: 80px 30px;
    /*border-top: 1px solid #e0e0e0;*/
}
.servi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}
.centrar{
    text-align: center;
}
.footer-conteiner{
    /*background-color: var(--aditional-color-0);*/
    padding: 5px 0px 0px 0px;
    font-size: 12px;
    /*border-top: 1px solid #e0e0e0;*/
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 30px;
}
.footer h3{
    color: var(--aditional-color-2);
}
.logo-footer{
    max-width: 130px;;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.copyright{
    /*background-color: var(--aditional-color-1);*/
    padding: 10px 30px;
    font-size: 10px;
    border-top: 1px solid #e0e0e0;
}