:root{
    --primary-color: #F2E205;
    --secundary-color: #F2CB05;
    --aditional-color-0: #D9A404;
    --aditional-color-1: #BF7E04;
    --aditional-color-2: #3f3f3f;
    --neutral-color: rgb(232, 231, 220);
    --white: white;
    --black: black;
}
/*BASES*/
.titulo{
    font-size: x-large;
    padding: 80px 0 0 0;
}
.mi-parrafo{
   background-color: #333; /* El color oscuro */
    color: white;
    width: 300px;           /* El ancho que elegiste */
    padding: 10px 20px;
    border-radius: 50px;    /* Para que sea ovalado */
    
    /* ESTO ES LO QUE LO CENTRA */
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.titulo h3{
    margin: 0;
}
.productos{
    display: flex;
    justify-content: center; /* Centra el conjunto en la pantalla */
    align-items: center;
    /*margin-bottom: 10px; Separación entre Cesta, Grande, etc. */
    font-size: 25px;
}
.tex-ajust2{
    margin: 0 0 0 50px;
}
.tarjeta{
    background-color: rgb(244, 244, 221);
    border-radius: 20px 0 0 20px;
    margin: 5px 0 5px 5px;
    padding: 10px 20px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}
.tarjeta-precios{
    background-color: rgb(244, 244, 221);
    /*border-radius: 20px;*/
    margin: 5px 5px 5px 0;
    padding: 10px 20px;
    width: 90px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    min-width: 60px;
    display: flex;
    align-items: center;
}
.tarjeta-precios-ligth{
    background-color: rgb(244, 244, 221);
    border-radius: 0 20px 20px 0;
    margin: 5px;
    padding: 10px 20px;
    width: 90px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    min-width: 60px;
    display: flex;
    align-items: center;
}
/*BASES FIN*/
/*BARQUILLAS*/
.tarjeta-barquillas{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 145px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;  
}
/*BARQUILLAS FIN*/
/*TOPPINGS*/
.tarjeta-toppings{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}
/*PREMIUM*/
.tarjeta-pre{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
}
.tex-bold{
    font-weight: bold;
}
/*LUXURY*/
.tarjeta-lux{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 250px;
    height: 130px;
    display: flex;
    align-items: center;
}
/*SIRUPS*/
.tarjeta-sirups{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 285px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* LUX */
.tarjeta-lux1{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
}
.iconos-menu{
    width: 50px;
}
.iconos-menu1{
    width: 59px;
}