@media screen and (max-width: 480px) {
/*ADAPTACION DE INICIO*/
    .descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .pan-20{
    padding: 0px 0px 0px 0px;
    font-size: 27px;
    line-height: 1.4;
}
    .img-rem{
    max-width: 170px;
    padding: 0;
    margin: 0 0 0 48px;
}
.servi{
    display: grid;
    grid-template-columns: 1fr;
    }
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.social-icons{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    margin: 5px;
}
.footer ul{
    padding: 0;
}
/*FIN DE LA ADAPTACION DEL INICIO*/
/*ADAPTACION DE CONTACTOS*/
.contacto{
    display: flex;
    flex-direction: column;
    font-size: large;
}
.contacto ul{
    padding: 0;
}
.mapa{
    max-width: 250px;
    border-radius: 10px;
}
/*MENU*/
.productos{
    display: flex;
    justify-content: center; /* Centra el conjunto en la pantalla */
    align-items: center;
}
.tarjeta-pre{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.tarjeta-lux1{
   background-color: rgb(244, 244, 221);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.tarjeta{
    background-color: rgb(244, 244, 221);
    border-radius: 20px 0 0 20px;
    margin: 5px 0 5px 5px;
    padding: 10px 20px;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.tarjeta-precios{
    background-color: rgb(244, 244, 221);
    /*border-radius: 20px;*/
    margin: 5px 5px 5px 0;
    padding: 10px 20px;
    width: 70px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    min-width: 60px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.tarjeta-precios-ligth{
    background-color: rgb(244, 244, 221);
    border-radius: 0 20px 20px 0;
    margin: 5px;
    padding: 10px 20px;
    width: 70px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    min-width: 60px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.tex-ajust1{
    margin: 0;
    font-size: medium;
}
.tex-ajust2{
    margin: 0 0 0 20px;
    font-size: medium;
}
/*Nosotros*/
.quienes-somos111{
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 0 0 0 ;
}
.img-quienes{
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 20px;
    margin: auto;
}
.margen{
    margin: 15px;
}
/*SERVI-VER-MAS*/
.estructura{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}
.imgarreglo{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
}